{% load dict_key_extras %}

<table class="data-table">
    <tr>
        <th width="75em">Resource name</th>
        <th width="30em">Published</th>
        <th width="100em">Last Publication date</th>
        {% if user.is_staff %}
            <th width="50em">User</th>
        {% endif %}
        <th width="200em">Actions</th>
    </tr>
    {% for XMLdata in XMLdatas %}
    {% with key=XMLdata.iduser %}
        {% cycle 'even' '' as rowcolors silent %}
        <tr class="{{ rowcolors }}">
            <td>
                {% if XMLdata.content.Resource.identity.title %}
                    {{ XMLdata.content.Resource.identity.title }}
                {%else%}
                    <script>
                        document.write('{{ XMLdata.title }}'.replace(/\.[^/.]+$/, ""));
                    </script>
                {% endif %}
            </td>
            <td>{% if XMLdata.ispublished %}Yes {%else%} No {% endif %}
            </td>
            <td>
                {% if XMLdata.publicationdate %}
                    {{XMLdata.publicationdate}}
                {%else%}
                    Never published before
                {% endif %}
            </td>
            {% if user.is_staff %}
                <td>
                    {{usernames|get:key}}
                </td>
            {% endif %}
            <td>
                {% with XMLdata|get:"_id" as XMLdata_id %}
                {% autoescape on %}
                <a href="/dashboard/detail?type=record&id={{XMLdata_id}}"><span class="icon legend result">
                    View
                </span></a>
                {% endautoescape %}
                <a href="/curate/enter-data?id={{XMLdata_id}}"><span class="icon legend edit">
                    Edit
                </span></a>
                {% if not XMLdata.ispublished %}
                <span class="icon legend publish" onclick="updatePublish('{{XMLdata_id}}')">
                    Publish
                </span>
                {% endif %}
                <span class="icon legend delete" onclick="deleteResult('{{XMLdata_id}}')">
                    Delete
                </span>
                <span class="icon legend changeOwner" onclick="changeOwnerRecord('{{XMLdata_id}}')">
                    Change Owner
                </span>
                 <span class="icon legend update" onclick="XMLDataSaved('{{XMLdata_id}}')">
                    Group
                </span>
                {% endwith%}
            </td>
        </tr>
    {% endwith %}
    {% endfor %}
</table>

<div id="dialog-saved-message" title="Select Groups XML Data Saved" style="display:none;">
<p></p>
  <p>
        <div style="display:none">
        </div>
        <div>
        <table>
             <tr>
                 <td width="100px"><label >Group Name</label></td>
                 <td width="100px"><label >Description</label></td>
                 <td> </td>
            </tr>
        </table>
            </div>

     <form  id="form_group" action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            <input id="XMLdata_id" type="hidden" name="XMLdata_id">

        </div>
        <div>
        <table>
             {% for managegroup in myGroup %}
             <tr>
                <td width="100px">{{managegroup.groupname}}</td>
                  <td width="100px">{{managegroup.description}}</td>
                <td>
                    <input name="groupid" type="checkbox" class="btn btn-warning btn-xs"  value="{{managegroup.id}}">
                </td>
            </tr>
            {% endfor %}
             {% for managegroup in otherGroup %}
            <tr>
                <td width="100px">{{managegroup.groupname}}</td>
                  <td width="100px">{{managegroup.description}}</td>
                <td>
                    <input name="groupid" type="checkbox" class="btn btn-danger btn-xs"  value="{{managegroup.id}}">
                </td>
            </tr>
             {% endfor %}

        </table>
            </div>
    </form>
    </p>
</div>
{% block extrajs %}

<script>
XMLDataSaved = function(xmlID)
{
    console.log('BEGIN [save data to group]');

    document.getElementById("XMLdata_id").value=xmlID;

    $(function() {
        $( "#dialog-saved-message" ).dialog({
            modal: true,
            close: function(){
                window.location = "/dashboard/records"
            },
            buttons: {
                Ok: function() {
                   var formData = new FormData($( "#form_group" )[0]);
                   $.ajax({
                        url : "/curate/save_data_groups",
                        type: 'POST',
                        data: formData ,
                        cache: false,
                        contentType: false,
                        processData: false,
                        async:false,
                        success : function(data) {
                            $( "#dialog-saved-message" ).dialog( "close" );
                        },
                        error:function(data){
//                            $( "#dialog-saved-message" ).dialog( "close" );
                            $("#saveErrorMessage").html(data.responseText);
                        },
                    });

                }
            }
        });
    });

    console.log('END [save data to group]');
}

</script>
{% endblock %}
