{% extends "mdcs/extra/one_column.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: create_group.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
#         ylzhao
#         110120115@t.shu.edu.cn
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block title %}<h1>group view</h1>{% endblock %}
{% block menu %}{% include 'mdcs/menus/main.html' with active_tab='tab1' %}{% endblock %}

{% block content %}
	{% include 'commons/forms/create_group.html' %}
{% endblock %}
